---
import Nav from "../components/nav.astro";
import Footer from "../components/footer.astro";
import "../style/global.css";
---

<Nav />

<header style="background-image: url('/day6-concert.jpg');">
    <section class="about-sec">
        <div class="overlay"></div>

        <div class="about-content">
            <h2 class="about">ABOUT</h2>

            <p class="description">
                Day6 is a South Korean pop rock band under the label JYP
                Entertainment. The group debuted on September 7, 2015, with the
                EP The Day, which peaked at No.2 on Billboard's World Album
                Chart a week following its release. The band consists of four
                members: Sungjin, Young K, Wonpil, and Dowoon. All of the Day6 members are
                heavily involved in writing, composing, and producing the band's
                music.
            </p>
        </div>
    </section>
</header>

<Footer />
